@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* header top  */
.head_nav_top_all{
  width: 100%;
}

/* nabar  */
.navbar-ul-head li:hover {
  background-color: #8334e4;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  list-style: none;
}

#navbar {
  /* position: fixed; */
  /* top: 60px; */
  /* left: 0; */
  width: 100%;
  background: #dfc7fd;
  transition: transform 0.3s ease-in-out;
  z-index: 49;
}

.navbar-ul-head li {
  padding: 7px;
  width: 5rem;
  text-align: center;

}

.navbar-ul-head li:hover .img-head-nav {
  filter: brightness(0) invert(1);
}

.navbar-ul-head li:hover .head-spn {
  color: #fff;
}

.navbar-ul-head span {
  font-size: 12px;
  line-height: 13px;
  color: #2f1254;
}

.navbar-ul-head li a {
  gap: 5px;
}
.drop-free-new:hover .free-service-drop-n {
  display: block;
}

.drop-free-new {
  position: relative;
  transition: 0.4s;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 0;
  margin: 0 0px;
  width: 110px;
}
.free-service-drop-n {
  display: none;
  position: absolute;
  top: 100%;
  right: -60px;
  background-color: #dfc7fd;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 200px;
  border-radius: 8px;
  padding: 1rem;
}
.drop-free-new:hover .free-service-drop-n {
  display: block;
}
.free-service-drop-n li:hover .free-drp-img {
  filter: brightness(0) invert(1);
}
.free-ser-spn{
  color: #000;
  font-size: 12px;
}
.free-service-drop-n li:hover .free-ser-spn{
  color: #fff;
}
.free-service-drop-n li:hover .a-wh{
  color: #fff;
}
.free-service-drop-n li:hover i{
  color: #fff;
}
.free-service-drop-n li {
  list-style: none;
  padding: 8px;
  /* border-bottom: 1px solid #f0f0f0; */
  cursor: pointer;
  width: 100%;
}
.free-drp-a {
  justify-content: start;
  gap: .7rem;
}
.free-service-drop-n li:hover {
  background-color: #8334e4;
  border-radius: 8px;
}


/* main body content  */


.icreact {
  padding: .5rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  color: #000;
}
.user-sign-up {
  border: 1px solid #00000030;
  border-radius: 10px;
}

/* Astro services  */
.main-product-store-home {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px 0;
  cursor: grab;
}
.main-product-store-home::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;

}
.free_store_pro-home {
  /* width: 350px; */
  position: relative;
  margin-right: 10px;
  /* height: 250px; */
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.store-img-home {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.name_free_str {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 1;
  z-index: 9;
  /* font-size: 1.2rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 10px;
  background-color: #0000006d;
}


/* Puja Home  */
.puja-images-marquee-sec {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #2724247b;
}
.puja-image-gradient-l {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  z-index: 2;
  height: 100%;
  background: linear-gradient(90deg, #000000df, hsla(0, 0%, 100%, 0));
}

.puja-image-gradient-r {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  z-index: 2;
  height: 100%;
  background: linear-gradient(-90deg, #000000df, hsla(0, 0%, 100%, 0));
}
.puja-images-sec img {
  /* width: 22rem; */
  /* height: 12rem; */
  border-radius: 10px;
  object-fit: cover;
}

.puja-images-sec {
  gap: 15px;
  animation: topSection_animation 10s linear infinite;
  animation-direction: alternate;
}
@keyframes topSection_animation {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(10%);
  }
}
.puja-card-top {  
  gap: 10px;
  background: #00000095;
}
.puja-ser-img {
  background: #fff;
  padding: .5rem;
  border-radius: 50%;
}

.calculator-card-top {
  gap: 1px;
  /* width: 13rem; */
  gap: 5px;
  justify-content: space-between;
}
.puja-sec-main::-webkit-scrollbar {
  display: none;
}
.puja-on-image {
  object-fit: cover;
  /* height: 13rem; */
  box-shadow: 3px 3px 13px #a3b1c6, -3px -3px 13px #ffffff;
  width: 100%;
  border-radius: 10px;
}

.puja-sec-main {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px;
}
.puja-on-card-hom {
  padding: 0.5rem;
  background: linear-gradient(90.6deg, #62587d10 0.47%, #69544213 137.94%);
  border-radius: 20px;
  position: relative;
  /* width: 22rem; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* min-width: 20rem; */
  margin-right: 10px;
  object-fit: cover;
  cursor: pointer;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.puja-sec-img {
  width: 100%;
  position: relative;
}
.puj-line {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background: linear-gradient(90.6deg, #6b4dbcce 0.47%, #f2984aa2 137.94%);
  border-radius: 15px 15px 0 0;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.puja-des-home {
  color: #8334e4;
  font-weight: 500;
}
.pu-add-tm {
  /* font-size: 0.8rem; */
  font-weight: 500;
  margin-bottom: 0;
  color: rgb(255, 145, 0);
}
.book-puja-hm {
  font-size: .8rem;
  padding: .5rem .4rem;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 8.5rem;
  box-shadow: 6px 6px 10px #a3b1c6, -6px -6px 10px #ffffff;
}

/* QR COde Download App  */
.app-img-content {
  width: 90%;
  justify-self: center;
}
.content-wrapper-spin-im {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinn-app-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.spin-image-back {
  /* height: 35rem; */
  position: relative;
  clip-path: circle(17rem);
}
.mob-app-image {
  position: absolute;
}


/* Consulation Queries secction  */
.consul-card-top {
  /* width: 12rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2rem 1rem;
  overflow: hidden !important;
}
.consul-box {
  background-color: #fff;
    border-radius: 91px;
    width: 12rem;
    height: 8rem;
    top: 8.5rem;
    left: 5rem;
}

.consul-box span {
  position: relative;
  left: -3px;
  top: 0.2rem;
}
.exp-card-top{
  /* width: 8rem; */
}
.pro-card-top {
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 10rem; */
}

/* Blog Section  */
.blog-bx {
  gap: .5rem;
  padding: .5rem;
  flex-direction: column;
  width: fit-content;
  overflow: hidden;
  height: fit-content;
  background: linear-gradient(90.6deg, #62587d10 0.47%, #69544213 137.94%);
  border-radius: 8px;
  position: relative;
}
.bl-im {
  border-radius: 7px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 31vh;
}

.bl-im:hover {
  transform: scale(1.03);
}
.bl-con {
  gap: .6rem;
  align-items: center;
  justify-content: center;
  display: contents;
}
.bl-h {
  font-size: .8rem;
  color: #000;
  margin-bottom: 0;
}
.bldate {
  border-top: .5px solid #999999a2;
  border-bottom: .5px solid #99999999;
  padding: .5rem 0;
  width: 100%;
  gap: 1rem;
}
.bldat1 {
  gap: .4rem;
  display: flex;
}
.bl-d-t,
.bl-d-c {
  font-size: .65rem;
}
.bl-btn {
  padding: .4rem .7rem;
  border-radius: 25px;
  font-size: .8rem;
  background: linear-gradient(90.6deg, #6a4dbc 0.47%, #f2994a 137.94%);
  border: none;
  outline: none;
  color: #fff;
  width: fit-content;
}

.bl-btn:hover {
  transform: scale(1.03);
}
.review_upper_image {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: rgb(255 255 255 / 90%);
  background: #000;
  padding: 3px 6px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.review_upper_image i {
  margin-right: 1px;
  font-size: 12px;
  color: #383535;
  color: #fff;
}

.review_upper_image span {
  font-size: 10px;
  color: #383535;
  color: #fff;
}

/* About Us section   */
.input-email {
  border-radius: 8px 0 0 8px;
}

.input-email::placeholder {
  color: #888;
  font-size: .8rem;
}
.submit-email {
  border-radius: 0 8px 8px 0;
}

/* Footer  */
.footer-cont {
  padding: 1rem 0;
}
.ds-imp-links {
  padding: 2rem 0;
}
.ab-po-h {
  font-size: 20px;
  color: #ffd70a;
  margin-bottom: .5rem;
}
.foot-horo-link li i {
  color: #ffd70a;
}

.foot-horo-link li a {
  font-size: .9rem;
  font-weight: 450;
  color: #fff !important;
}
.footer_head li i {
  color: #ffd70a;
}

.footer_head li a {
  font-size: .9rem;
  font-weight: 450;
  color: #fff !important;
}

.footer_head li a:hover {
  text-decoration: underline;  transform: scale(1.04);

}
.foot-con-trst {
  width: 100%;
  justify-content: space-around;
}
.ab-pr-po a {
  color: #fff !important;
}
.fot_link {
  gap: .7rem;
}
.foot-li {
  background: #b173ff;
  border-radius: 100px;
  padding: .3rem 1rem;
  width: fit-content;
}
.foot-li a {
  gap: .3rem;
}.foot-h-sp {
  font-size: 16px;
}.ft-span {
  display: block;
  font-size: 14px;
  font-family: poppins;
  color: white;
}.dwonload-img {
  width: 8rem;
}
.foot-down-app {
  display: none;
}
.footer-new {
  background-color: rgb(47, 18, 84);
}
.foot-horo-link li a:hover{
  text-decoration: underline;
  transform: scale(1.04);
}

.swiper-button-prev, .swiper-button-next {
  background-color: #704a99bb;
  padding: 1rem;
  border-radius: 50%;
}
.swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0px) !important; 
  left: auto;
}
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 0px) !important;
  right: auto;
}

@media ( 319px <= width <= 430px){
.foot-h-sp {
  font-size: 14px;
}
.footer_head li a {
  font-size: .7rem;
  font-weight: 450;
  color: #fff !important;
}
.foot-horo-link li a {
  font-size: .7rem;
  font-weight: 450;
  color: #fff !important;
}
.ab-po-h {
  font-size: 15px;
  color: #ffd70a;
  margin-bottom: .5rem;
}
.foot-h-sp {
  font-size: 11px;
}
.bl-im {  
  height: 23vh;
}
.bl-h {
  font-size: .7rem;
  color: #000;
  margin-bottom: 0;
}
.bl-btn {
  padding: .3rem .6rem;
  border-radius: 25px;
  font-size: .7rem;
  background: linear-gradient(90.6deg, #6a4dbc 0.47%, #f2994a 137.94%);
  border: none;
  outline: none;
  color: #fff;
  width: fit-content;
}
.consul-box {
  background-color: #fff;
  border-radius: 91px;
  width: 12rem;
  height: 8rem;
  top: 6rem;
  left: -5px;
}
}